<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ji.store.mapper.UserMapper">
	<!-- BASIC COLUMN -->
	<!-- BASIC COLUMN -->
	<sql id="column-basic">
		user_id, user_nm, password, email, auth_level, phone_num, zip_code, address, detail_address, regist_dt
	</sql>
	
	<insert id="insertUser" parameterType="com.ji.store.dto.UserDto">
		INSERT INTO public.user( user_id, user_nm, password, email, phone_num, address, detail_address, zip_code, auth_level, regist_dt)
		VALUES( #{user_id}, #{user_nm}, #{password}, #{email}, #{phone_num}, #{address}, #{detail_address}, #{zip_code}, #{auth_level}, CURRENT_TIMESTAMP )
	</insert>
	
	<select id="selectUserById" parameterType="String" resultType="com.ji.store.dto.UserDto">
		SELECT
			<include refid="column-basic" />
		FROM
			public.user
		WHERE
			<!-- binary(user_id) = #{user_id} -->
			user_id = #{user_id}
	</select>
</mapper>